[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/srirangakulkarni-cp
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/srirangakulkarni-cp
	label-Verified = -1..+1 group user/srirangakulkarni-cp
	push = group user/srirangakulkarni-cp
	read = group user/srirangakulkarni-cp
	rebase = group user/srirangakulkarni-cp
	removeReviewer = group user/srirangakulkarni-cp
	submit = group user/srirangakulkarni-cp
[access "refs/heads/*"]
	create = group user/srirangakulkarni-cp
	push = +force group user/srirangakulkarni-cp
	pushMerge = group user/srirangakulkarni-cp
	read = group user/srirangakulkarni-cp
[access "refs/tags/*"]
	push = group user/srirangakulkarni-cp
	push = +force group user/srirangakulkarni-cp
